.header {
  height: 100px;

  .hamburger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 32px;
    right: 15px;
    cursor: pointer;

    span {
      width: 35px;
      height: 2px;
      background: black;
      border: solid 1px black;
      display: block;
      position: absolute;
      transition: 1s;
      opacity: 1;

      &:nth-of-type(1) {
        top: 5px;
      }
      &:nth-of-type(2) {
        top: 15px;
      }
    }
    p {
      display: inline-block;
      top: 30px;
      font-size: 15px;
      margin-top: 20px;
    }
  }
  .menuIcon {
    &:hover {
      cursor: pointer;
    }
  }
  .drawerMenu {
    width: 100%;
    color: white;
    background-color: black;
    position: fixed;
    top: 0;

    transition: 0.5s;
    height: 0vh;
    opacity: 0;
    z-index: -1;
    &.open {
      height: 100vh;
      opacity: 1;
      z-index: 1;
    }

    h2 {
      margin: 50px;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        margin: 30px;
        text-decoration: underline;
      }
    }

    p {
      margin: 100px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
